<ion-content [fullscreen]="true">
	<app-alert alertTitle="RINK GUARD END OF LIFE" alertBody="This app will no longer receive updates past the 2025 version however it'll still be available as-is indefinitely." alertType="warning" alertIcon="warning-outline"></app-alert>
	<app-alert alertTitle="SCHEDULE DISCLOSURE" alertBody="Rink schedules are based off of staff input. The app will only reflect what has been entered into the system." alertType="information" alertIcon="information-circle-outline"></app-alert>
	<app-alert alertTitle="OPEN SOURCED" alertBody="This app's code is now open-sourced." alertLink="https://github.com/JellyPies/Rink-Guard" alertType="information" alertIcon="information-circle-outline"></app-alert>
	<app-alert alertTitle="ABOUT" alertBody="V3.0.0 (2025) By Ethan Glue" alertType="information" alertIcon="information-circle-outline"></app-alert>
</ion-content>